<!-- githubUsersList.html -->
<div class="github-users-list">
  <ul class="wrapper">
    <li class="card" ng-init="getPersonalUserData(user, userdata)" ng-repeat="user in userdata">
      <img id="user.id" class="avatar" src="{{user.avatar_url}}" alt="Avatar">
      <div class="container">
        <h4><b>{{user.name}}</b></h4>
        <a href="{{user.html_url}}" target="_blank">UserPage Github</a>
        <a href="{{user.repos_url}}" target="_blank">User list repos</a>
      </div>
    </li>
  </ul>

  <!-- HERE WILL GO PAGINATION -->
  <div class="wrapper-button">
    <button type="button" name="button">Next page</button>
  </div>
</div>
