<!-- githubUsersList.html -->
<div class="github-users-list">
  <ul class="wrapper">
    <li class="card" ng-init="getPersonalUserData(user, userdata)" ng-repeat="user in userdata">
      <div class="card-center">
        <div class="content-column">
          <div class="wrapper-image">
            <img id="user.id" class="avatar" src="{{user.avatar_url}}" alt="Avatar">
          </div>
          <div class="content">
            <label class="name">{{user.name}}</label>
            <a class="link-page" href="{{user.html_url}}" target="_blank">UserPage Github</a>
            <button type="button" name="button" ng-click="engineUserRepo(user)">User list repos</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
